<p><%= link_to "edit", article_edit_path(@article)%>
  <%= link_to "delete", article_path(@article),
  method: :delete,
  data: {confirm: "Are you sure?"} %>
</p>
<h2><%= @article.title %></h2>
<p><%=raw(Kramdown::Document.new(@article.content).to_html) %></p>


